{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> Chessboard </title>

	<link  rel='stylesheet' href="{% static 'css/chessboard.css' %}">

	<script src="{% static 'js/chessboard.js' %}"></script>
	
</head>

<body>

<!-- <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"> </div> -->

<div id="div1">This is div</div>

<table style="border: 0px;" border-collapse>
<tr id='row1'>
	<td id='td11' ondrop="drop(event)" ondragover="allowDrop(event)">
		
		<img id='11-2' src="{% static 'image/dark_on_bg.png' %}" class='piece' draggable="true" ondragstart="drag(event)">
		<img id='11-1' src="{% static 'image/bg.png' %}" class='background'>
		
	</td>

	<td id='td12' ondrop="drop(event)" ondragover="allowDrop(event)">
		
		<img id='12-2' src="{% static 'image/bg.png' %}" class='piece' draggable="false">
		<img id='12-1' src="{% static 'image/bg.png' %}" class='background'>
		
	</td>

</tr>
<tr id='row2'>
	<td id='td21' ondrop="drop(event)" ondragover="allowDrop(event)">
		
		<img id='21-2' src="{% static 'image/bg.png' %}" class='piece' draggable="false">
		<img id='21-1' src="{% static 'image/bg.png' %}" class='background'>
		
	</td>

	<td id='td22' ondrop="drop(event)" ondragover="allowDrop(event)">
		
		<img id='22-2' src="{% static 'image/light_on_bg.png' %}" class='piece' draggable="true" ondragstart="drag(event)">
		<img id='22-1' src="{% static 'image/bg.png' %}" class='background'>
		
	</td>

</tr>
</table>

</body>
</html>